@model IEnumerable<Lanche.Application.ViewModels.PromocaoVM >

@{
    ViewData["Title"] = "";
}

    <h2>Listagem de Promoções</h2>

<p>
    <a asp-action="Create" class="btn btn-lanche">
        <span class="glyphicon glyphicon-plus"></span> Cadastrar Promoção
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th width="15%">
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th class="text-center" width="20%">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DataCadastro
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @item.Descricao
                </td>

                <td style="text-align:center">
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
