@model Lanche.Application.ViewModels.LancheVM

    @{
        ViewData["Title"] = "";
    }

    <h2>Edição do Lanche - Código: @Model.Id</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="javascript:validateForm(this)" novalidate="novalidate">

                @Html.AntiForgeryToken()

                <input class="form-control" type="hidden" id="Id" name="Id" value="@Model.Id">

                <div class="form-group">
                    <label class="control-label" for="DataCadastro">Cadastro</label>
                    <input class="form-control" type="text" id="DataCadastro" name="DataCadastro" value="@Model.DataCadastro">
                    <span class="text-danger field-validation-valid" data-valmsg-for="DataCadastro" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Nome">Nome</label>
                    <input class="form-control" type="text" data-val="true" data-val-maxlength="O campo Nome deve ser alfanumérico com máximo de '50' caracteres." data-val-maxlength-max="50" data-val-required="The Nome field is required." id="Nome" name="Nome" value="@Model.Nome">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Nome" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Preco">Preço</label>
                    <input class="form-control" type="number" data-val="true" data-val-required="O campo Preço é obrigatório." id="Preco" name="Preco" value="@Model.Preco.Replace(',', '.')">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Preco" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-left"></span> Voltar para Lista
                    </a>
                    <button type="submit" class="btn btn-lanche">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Salvar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="display: none;"></th>
                        <th>Ingrediente(s)</th>
                        <th>Preço Unitário R$</th>
                        <th>Quantidade(s)</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Ingredientes)
                    {
                        var numItem = @ViewBag.Ingredientes.IndexOf(item);

                        <tr id="ingr_@numItem">
                            <td id="ingrId_@numItem" style="display: none;">@item.Id</td>
                            <td id="ingrNome_@numItem">@item.Nome</td>
                            <td id="ingrPreco_@numItem" style="text-align:center">@item.Preco</td>
                            @if (Model.Ingredientes.FirstOrDefault(i => i.IdIngrediente == item.Id) != null)
                            {
                                <td id="ingrQtd_@item.Id" style="text-align:center">@Model.Ingredientes.First(i => i.IdIngrediente == item.Id).QtdIngrediente</td>
                            }
                            else
                            {
                                <td id="ingrQtd_@item.Id" style="text-align:center">0</td>
                            }
                            <td style="text-align:center">
                                <a id="ingrAdd_@numItem" href="javascript:void(0)" class="btn btn-sm btn-default" onclick="AddIngrediente(@item.Id,'@item.Nome','@item.Preco')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                <a id="ingrRemove_@numItem" href="javascript:void(0)" class="btn btn-sm btn-default" onclick="RemoveIngrediente(@item.Id,'@item.Nome','@item.Preco')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                            <td style="text-align:center; font-weight: bold;">Total em R$</td>
                            <td style="text-align:center; font-weight: bold;" colspan="3">
                                <label class="control-label" id="lblPrecoTotal"></label>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

        @{ <text>var arrayIdsIngredientes = [</text> }

        @for (int i = 0; i < ViewBag.Ingredientes.Count; i++)
        {
            if (i == (ViewBag.Ingredientes.Count - 1))
            {
                <text>@ViewBag.Ingredientes[i].Id</text>
            }
            else
            {
                <text> @ViewBag.Ingredientes[i].Id,</text>
            }
        }

        @{ <text>];</text> }

        </script>

        <script src="~/js/Lanche/lancheActions.js"></script>
    }
